@model WebApp1.Models.Contact

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main id="main" class="main">
    <div class="container shadow p-5">
        <h2>Xác nhận xóa phản hồi</h2>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                <p>Tên Sinh viên</p>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                <p>Tên lớp</p>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Class)
            </dd>
            <dt class="col-sm-2">
                <p>Email</p>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                <p>Tin nhắn</p>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Message)
            </dd>
        </dl>
        <form asp-action="Delete" method="post">
                <input type="hidden" asp-for="ContactID" />
                <a class="btn btn-lg btn-warning p-2 mr-5" href="javascript:history.back()">
                    <i class="bi bi-box-arrow-in-left"></i> Quay lại
                </a>
                <button type="submit" class="btn btn-lg btn-danger">
                    <i class="bi bi-trash-fill"></i> Xóa
                </button>
        </form>
    </div>
    <!--begin form-->

    <!--End Form-->
</main>